/* start Global Rulls */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --section-padding: 60px;
}

/* framework */

/* framework */

body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    text-transform: capitalize;
}
.custom {
    margin: 80px auto;
    width: fit-content;
    font-weight: normal;
}
@media (max-width:767px) {
    .custom {
        font-size: 13px;
    }
}
.container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    padding-left: var(--section-padding);
    padding-right: var(--section-padding);
}

@media (max-width:767px){
    .special-heading {
        font-size: 60px;
    }

    .container {
        max-width: 100%;
        padding: 10px;
    }

    .special-heading + p {
        margin: -20px;
    }
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}


.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--section-padding);
    padding-right: var(--section-padding);
    width: 1200px;
}


/* End Global Rulls */
/* start header */
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
}
.header .container .logo {
    font-size: 35px;
}

@media (max-width:767px) {
    .header {
        border-bottom: 1px solid white;
    }
    .header .container {
        justify-content:space-evenly ;
        gap: 20px;
    }
    .header .container .logo  {
        font-size: 20px;
        width: 100%;
        text-align: center;
    }
}
.header .container ul {
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.header .container ul li {
    list-style: none; 
    margin-right: 30px;
    cursor: pointer;
}


@media (max-width:767px) {
    .header .container ul li,
    .header .container .cart {
        font-size: 10px;
        margin-bottom: 5px;
        margin-right: 20px;
    }
    .header .container .cart {
        flex: 1;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
}
.header .container .cart {
    display: flex;
    align-items: center;
}
.header .container .cart > span {
    display: flex;
    padding: 8px;
    border: 1px solid white;
    position: relative;
    font-size: 13px;
}

.header .container .cart > span::before {
    content: "0";
    position: absolute;
    top: -13px;
    right: -7px;
    background-color: #413f3f;
    padding: 4px;
    font-size: 13px;
    border-radius: 50%;
}
.header .container .cart span .caret {
    transform: rotate(180deg);

}
.header .container .cart i {
    display: block;
    margin-left: 40px;
    font-size: 20px;
}
/* end header */
/* start landing */
.land {
    width: 100%;
    height: calc(100vh - 87px);
    margin-top: 20px;
}

.land .container {
    display: grid;
    grid-template-columns: repeat(4, 25%) ;
    grid-template-rows: repeat(4, 150px);
    gap: 20px;
    position: relative;
}

@media (max-width:767px)  {
    .land .container {
        justify-content: center;
        grid-template-rows: repeat(6, 1fr);
    }
    .land {
        height: auto;
    }
}

.land .container .back-one {
    grid-column: 1 / 4;
    grid-row: 1 / 6;
    background-image: url(../image/traveler-hipster-man-with-long-blond-hair-wearing-yellow-jacket-posing-with-authentic-single-speed-bicycle_613910-10350.jpg);
    background-size: cover;
    padding: 25px;
    position: relative;
}

@media (max-width:767px) {
    .land .container .back-one {
        grid-column: 1 / 6;
        grid-row: 1 / span 2;
    }
}

.land .container .back-one h2 {
    font-size: 35px;
}



.land .container .back-one > div {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translatey(-50%);
}

.land .container .back-one span.new {
    display: block;
    color: grey;
    margin-bottom: 20px;
}

.land .container .back-one span.price {
    font-size: 30px;
    color: white;
}

.btn-shape {
    display: inline-block;
    padding: 5px;
    width: fit-content;
    text-decoration: none;
    border: 1px solid white;
    color: white;
    margin-right: 5px;
}

.land .container .back-tow {
    grid-column: 4 / 6;
    grid-row: 1 / span 2;
    background-image: url(../image/il_794xN.2622202494_gsj2.jpg);
    background-size: cover;
    padding: 20px;
    position: relative;
    z-index: 1;
}


@media (max-width:767px) {
    .land .container .back-tow {
        grid-column: 1 / 6;
        grid-row: 3 / span 2;
    }
}

.land .container .back-tow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000b3;
    z-index: -1;
}

.land .container .back-tow h2 {
    padding-bottom: 20px;
}

.land .container .back-tow p {
    font-size: 16px;
    color: grey;
    padding-bottom: 10px;
}

.land .container .back-three {
    grid-column: 4 / 6;
    grid-row: 3 / 6;
    background-image: url(../image/depositphotos_134846104-stock-photo-man-holding-an-axe-and.jpg);
    background-size: cover;
    padding: 118px 10px 0;
    color: white;
}

@media (max-width:767px) {
    .land .container .back-three {
        grid-column: 1 / 6;
        grid-row: 5 / 8;
        padding-bottom: 20px;
    }
}



.land .container .back-three h2 {
    margin-bottom: 8px;
}

.land .container .back-three  p {
    color: rgb(170, 166, 166);
}

.land .container .back-three span {
    font-size: 23px;
    margin-top: 6px;
    display: block;
}

/* end landing */
/* start feature */
.feature {
    padding-bottom: 50PX;

}

.feature .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 25px;
}

.feature .container .card {
    background-color: #eeeeee0c;
    justify-self: center;
    padding: 40px;
    text-align: center;
    position: relative;
}

.feature .container .card::after {
    font-family: var(--fa-style-family-classic);
    content: '\f004';
    font-weight: 900;
    right: 10px;
    top: 10px;
    position: absolute; 
    color: #413f3f5a;
}

.feature .container .card img {
    width: 170px;
    height: 200px;
    margin-bottom: 20px;
}

.feature .container .card img + div {
    font-weight: normal;
    font-size: 14px;
}

.feature .container .card span {
    font-size: 13px;
    display: block;
}
.feature .container .card .new {
    position: absolute;
    content: "";
    color: #eee;
    top: 10px;
    left: 10px;
    font-size: 13px;
}
.bg-grey {
    font-size: 14px;
    margin: 5px 0;
    color: #ccc;
}
/* end feature */
/* start video */
.video {
    padding-top: 50px;
    padding-bottom: 50px;
}
.video .container {
    display: flex;
    gap: 20px;
}

@media (max-width:767px){
    .video .container {
        flex-direction: column;
    }


}
.video .extra {
    background-image: url(../image/gsrr-min.jpg);
    width: 50%;
    background-size: cover;
    padding: 40px;
    position: relative;
    z-index: 2;
}
@media (max-width:767px) {
    .video .extra {
        width: 100%;
    }
}

.video .extra::before {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.47);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.video .vid {
    width: 50%;
    height: 302.29px;
}

@media (max-width:767px) {
    .video .vid {
        width: 100%;
        height: 120%;
    }
}
.video .extra h2 {
    font-size: 58px;
}

.video .extra span {
    display: inline-flex;
    color: grey;
}

.video .extra .bold {
    color: white;
    font-size: 20px;
}

.video .vid video {
    width:100% ;
    height: 100%;
}
/* end video */
/* start footer */
.footer {
    background-color: #111;
    padding-bottom: 50px;
    padding-top: 50px;
}
.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 25px;
    border-bottom:1px solid #ccc ;
    padding-bottom: 40px;
}

.footer .box-one h2 {
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 10px;
}

.footer .box-one p {
    font-size: 12px;
    color: #ccc;
    text-align: left;
    margin-bottom: 10px;
    line-height: 1.8;
}

.footer .box-one .social {
    display: flex;
    gap: 12px;
}

h3 {
    font-weight: normal;
    margin-bottom: 15px;
}

.footer .box-two .icons {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.footer .box-two .icons .num  {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc;
}

.footer .box-two .icons .info  span {
    display: inline-block;
    font-size: 14px;
    color: #ccc;
    text-align: left;
    margin-bottom: 5px;
}

.footer .box-two .icons .info p {
    font-size: 11px;
    color: #413f3f;
}

.footer .box-three div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 14px;
    color: #ccc;
}

.footer .box-four p {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 10px;
}

.footer .box-four input {
    outline: none;
    padding: 5px 10px;
    margin-bottom: 10px;
}


.footer .box-four input[type="submit"] {
    padding: 3px 5px;
    background-color: #777;
    color: #ccc;
    font-size: 14px;
}

.footer .p {
    margin: 40px auto 10px;
    width: fit-content;
    color: #ccc;
    font-size: 14px;
}

/* end footer */